/* CSS Document */

:root {
  --bg-color: #f8f8f8;
  --text-color: #333;
  --link-color: #aa4008; 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  padding: 100px;
}

h1 {
  font-size: 72px;
  margin-bottom: 20px;
  color: var(--link-color);
}

p {
  font-size: 24px;
  margin-bottom: 40px;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
