/* CSS Document */

@import url('colors.css');

:root {
  --bg-color: var(--light-blue-grey);
  --text-color: var(--olive-green);
  --header-bg-color: var(--dark-reddish-brown); 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--header-bg-color);
  color: var(--bg-color);
  padding: 20px;
  text-align: center;
}

main {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

footer {
  background-color: var(--header-bg-color); 
  color: var(--bg-color); 
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  margin: 0;
}

h2 {
  color: var(--header-bg-color);
}

.company-info {
  margin-top: 20px;
  font-size: 18px;
}

.repositories {
  margin-top: 20px;
  font-size: 16px;
}
